<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Campaigning</title>
    </head>
    <body>
        <div class="bg-success p-2 text-dark bg-opacity-25">
			<h3>Sponsor Sign Up</h3>
            <div class="position-absolute top-50 start-50 translate-middle">
			<form action="/sponsor_signup" method="POST">
			<table class="table">
                <tr><td>Comapny</td><td>
                    <input type="text" name = "username"></td>
               
                <tr><td>Industry</td><td>
                    <input type="text" name = "industry"></td><tr><td>
                        <tr><td>Budget</td><td>
                            <input type="text" name = "budget"></td><tr><td>
                                <tr><td>Bio</td><td>
                                    <input type="text" name = "bio"></td><tr><td>
                                        <tr><td>Email</td><td>
                                            <input type="text" name = "email"></td><tr><td>
			Password</td><td>
			<input type="password" name = "password"></td><tr><td>
				<input type="submit"></td></tr>
				<tr><td><a href="/sponsor_login">User Login</a></td></tr>
			</form>
            </div>
        </div>
    </body>
</html>